<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="fast-image-size test suite">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./lib/</directory>
        </include>
    </source>
</phpunit>
